---
import IconPlay from "./icons/IconPlay.astro";
const baseURL = import.meta.env.BASE_URL;
---

<section class="ly-sliders mt-4">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-1">
        <div class="ly-slider-prev">
          <span class="material-symbols-outlined"> arrow_back_ios</span>
        </div>
      </div>
      <div class="col-10">
        <h2 class="section-title">Popular Videos</h2>
        <div class="ly-iconbox-slider-container" data-catslider>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src={`${baseURL}images/lyme-time.png`} alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>LymeTime/ LymeIQ</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src={`${baseURL}images/bacteria.png`} alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Kill - Bacteria</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img
                  src={`${baseURL}images/cyst-removal-2.png`}
                  alt="nutrition"
                />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Dissolve - Neurotoxins and Cysts</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src={`${baseURL}images/detox.png`} alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Bind - Cleanses/Detox</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src=`${baseURL}images/environment.png` alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Environmental Concerns</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src=`${baseURL}images/nutrition.png` alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Nutrition</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src=`${baseURL}images/nutrition.png` alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Nutrition</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src=`${baseURL}images/nutrition.png` alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Nutrition</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src={`${baseURL}images/lyme-time.png`} alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>LymeTime/ LymeIQ</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src={`${baseURL}images/bacteria.png`} alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Kill - Bacteria</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img
                  src={`${baseURL}images/cyst-removal-2.png`}
                  alt="nutrition"
                />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Dissolve - Neurotoxins and Cysts</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src={`${baseURL}images/detox.png`} alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Bind - Cleanses/Detox</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src=`${baseURL}images/environment.png` alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Environmental Concerns</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src=`${baseURL}images/nutrition.png` alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Nutrition</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src=`${baseURL}images/nutrition.png` alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Nutrition</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
          <div>
            <div class="ly-iconbox">
              <div class="ly-iconbox__img-wrapper">
                <img src=`${baseURL}images/nutrition.png` alt="nutrition" />
              </div>
              <div
                class="d-flex justify-content-between align-items-start gap-2"
              >
                <div>
                  <h4>Nutrition</h4>
                  <p>23 Videos</p>
                </div>
                <IconPlay />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
        <div class="ly-slider-next">
          <span class="material-symbols-outlined"> arrow_forward_ios</span>
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline>
const catSlider = document.querySelector("[data-catslider]");
</script>

<style lang="scss" is:global>
  .ly-sliders {
    overflow: hidden;
    padding-bottom: 3rem;
    .row {
      position: relative;
      isolation: isolate;
    }
    .col-1 {
      z-index: 9;
      background-color: #fff;
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .col-10 {
      z-index: 1;
    }
    .slick-arrow {
      // position: absolute;
      // inset: 0;
      // top: 50%;
      transform: translate(0, 50%);
      // z-index: 99;
      cursor: pointer;
      .material-symbols-outlined {
        font-size: 2rem;
        color: var(--clr-primary);
      }
    }
    .ly-slider-prev {
      // left: 20px;
      align-self: end;
    }
    .ly-slider-next {
      // right: 20px;
      align-selft: start;
    }
  }
  .section-title {
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
  }
  .ly-iconbox-slider-container {
    --_slide-gap: 0.5rem;
    margin: 0 calc(-1 * var(--_slide-gap));

    .slick-slider {
      position: relative;
    }
    .slick-list {
      overflow: visible;
    }
  }

  .ly-iconbox {
    min-height: 15rem;
    // border: 1px solid red;
    padding: 1rem 0.75rem;
    border-radius: 0.25rem;
    background: linear-gradient(
      180deg,
      var(--clr-primary, 30%),
      var(--clr-secondary, 50%)
    );
    color: #fff;
    margin: 0 var(--_slide-gap);
    // transition: transform 0.2s ease-in;
    transition: all 0.2s ease-in;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    &__img-wrapper {
      height: 5rem;
      margin-bottom: 2.5rem;

      img {
        display: block;
        max-width: 100%;
        height: 5rem;
      }
    }

    .gap-2 {
      gap: 0.25rem;
    }

    h4 {
      font-size: 0.875rem;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1em;
    }

    p {
      font-size: 0.75rem;
      line-height: 1.2em;
    }

    svg {
      fill: #fff;

      width: 2rem;
      height: 2rem;
    }
  }
</style>
